
h1 {
    color: brown;
}
.class-1 {
    color: blueviolet;
}
.class-1.class-2 {
    background-color: antiquewhite;
}
h3.class-3.class-4 {
    font-size: 30px;
}
#id {
    background-color: lightblue;
}
ul>li {
    background-color: navajowhite;
}
.class-5[id="id-2"] {
    color: crimson;
    font-size: 30px;
}
p[id="id-3"] + p {
    background-color: black;
    color: white;
}
p:nth-of-type(3)::first-letter {
    font-size: 24px;
}
div h4 {
    color: blue;
}